.hero-section {
  background-image: url(../../assets/classes1.png);
}

/* Second Section  */
.our-trainers {
  color: var(--three);
}

.our-trainers > div:first-of-type {
  text-align: center;
  margin-bottom: 30px;
}

.trainers-boxes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  gap: 30px;
}

.trainers-boxes img {
  width: 100%;
}

.trainers-boxes .info {
  background-color: var(--three);
  color: var(--white);
  padding: 20px;
}

.trainers-boxes .info div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: 1px solid var(--four);
  margin-bottom: 10px;
}

.trainers-boxes .info div i {
  color: var(--yellow);
  font-size: 15px;
}

.trainers-boxes .info > p {
  color: var(--four);
  margin: 10px 0;
}

.trainers-boxes .info > a i {
  color: var(--white);
  font-size: 20px;
}

.trainers-boxes .info > a i:hover {
  color: var(--four);
}

@media (max-width: 800px) {
  .trainers-boxes {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}

/* Third  Section  */

.routines {
  text-align: center;
  padding-bottom: 15rem;
}

.routines h2 {
  color: var(--three);
  margin: 20px 0;
}

.routines p:last-of-type {
  width: 50%;
  margin: 0 auto;
  color: var(--four);
}

@media (max-width: 600px) {
  .routines p:last-of-type {
    width: 90%;
  }
}

/* Section Four  */

.cta-section {
  padding: 5rem 0;
  background-color: var(--three);
  margin-bottom: 8rem;
  text-align: center;
}

.cta-section img {
  width: 100%;
  position: relative;
  top: -200px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.cta-section button:first-of-type {
  background-color: var(--one);
  border: 1px solid var(--one);
}

.cta-section button:first-of-type:hover {
  color: var(--white);
  border-color: var(--white);
}

.cta-section button:first-of-type::before {
  background-color: var(--three);
}

.cta-section button:last-of-type {
  background-color: var(--three);
  border: 1px solid var(--white);
  color: var(--white);
}

.cta-section button:last-of-type::before {
  background-color: var(--one);
}
.cta-section button:last-of-type:hover {
  color: var(--three);
  border-color: var(--three);
}
