@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --one: #a1f65e;
  --two: #524ff5;
  --three: #1d2229;
  --four: #6a6a6a;
  --five: #2c323a;
  --six: #f0f0f0;
  --main-transition: 0.3s;
}

body {
  font-family: "Roboto", sans-serif;
  height: 1000vh;
}

.container {
  width: 90%;
  margin: 0 auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
